<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Canvas:</strong>
  <%= @order.canvas %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@order.image) %>
</p>

<p>
  <strong>Offset:</strong>
  <%= @order.offset %>
</p>

<p>
  <strong>Model:</strong>
  <%= @order.model %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
