<div id="tridiv">
  <div class="scene" style="-webkit-transform:rotateX(-1464deg) rotateY(-43deg); -moz-transform:rotateX(-1464deg) rotateY(-43deg); -ms-transform:rotateX(-1464deg) rotateY(-43deg); transform:rotateX(-1464deg) rotateY(-43deg); ">
    <div class="shape cuboid-1 cub-1">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.54902);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0509804);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader-alt" style="background-image: url(<%= @order.image %>);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.509804);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.447059);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.345098);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.231373);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.129412);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0627451);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0745098);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.14902);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.254902);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.364706);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.466667);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.533333);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.52549);"></div>
        </div>
      </div>
    </div>
    <div class="shape cuboid-2 cub-2">
      <div class="face ft">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.494118);"></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.105882);"></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0509804);"></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.54902);"></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" style="background-color: rgba(0, 100, 0, 0.509804);"></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0901961);"></div>
      </div>
      <div class="cr cr-0">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.52549);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.533333);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.466667);"></div>
        </div>
      </div>
      <div class="cr cr-1">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.364706);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.254902);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.14902);"></div>
        </div>
      </div>
      <div class="cr cr-2">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0745098);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.0627451);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.129412);"></div>
        </div>
      </div>
      <div class="cr cr-3">
        <div class="face side s0">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.231373);"></div>
        </div>
        <div class="face side s1">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.345098);"></div>
        </div>
        <div class="face side s2">
          <div class="photon-shader" style="background-color: rgba(0, 0, 0, 0.447059);"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <div class="image-holder" style="opacity:0;">
    <img src="<%= @order.image %>" id="image" />
    <div class="" id="image-border">
    </div>
  <div>
  
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>




<p>
  <strong>Offset:</strong>
  <%= @order.offset %>
</p>

<p>
  <strong>Model:</strong>
  <%= @order.model %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>

<br>
<br>
<br>
<br>
<br>