<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'images/favicon.ico' %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<meta name="viewport" content="width=1024">
  <script src="/js/fabric.js" ></script>
  <script src="/js/detectmobile.js" ></script>
  <script src="/spectrum/spectrum.js" ></script>
  <script src="/bootstrap-select/bootstrap-select.js"></script>
  <!--<script type="text/javascript" src="https://raw.githubusercontent.com/kangax/fabric.js/master/dist/fabric.js"></script>-->
  <link rel="stylesheet" media="screen" type="text/css" href="/spectrum/spectrum.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="/bootstrap-select/bootstrap-select.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="/font-awesome-4.0.3/css/font-awesome.css" />
	<title>CaseHappy</title>

			<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
		for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
		mixpanel.init("e977d721845de4a67e49d611a292c35b");</script><!-- end Mixpanel -->
<script>
	function set_cookie ( cookie_name, cookie_value,
    lifespan_in_days, valid_domain )
		{
		    var domain_string = valid_domain ?
		                       ("; domain=" + valid_domain) : '' ;
		    document.cookie = cookie_name +
		                       "=" + encodeURIComponent( cookie_value ) +
		                       "; max-age=" + 60 * 60 *
		                       24 * lifespan_in_days +
		                       "; path=/" + domain_string ;
		}
</script>
</head>
<body>
	<%= render 'layouts/header' %>

	<div id="insta-wrap">

		<% flash.each do |name, msg| %>
			<%= content_tag(:div ,msg, class: "alert alert-#{name}") %>
		<% end %>
		<%= yield %>

	</div>




	<%= render 'layouts/footer' %>
</body>
</html>
